@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-first: #000000;
    --text-second: #0147ff;
    --main-background: #f7f7f7;
    --footer-background: #282828;
  }
}

@font-face {
  font-family: "Heebo";
  src: url("../public/fonts/Heebo/Heebo-VariableFont_wght.ttf") format("woff2");
}
