@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* SIZES */
    --container-width: 1200px;
    --buttons-radius: 6px;
    --buttons-padding-tb: 12px;
    --buttons-padding-lr: 24px;

    /* COLORS */
    --textBlackP: #000000;
    --textBlackH: #1d1d1b;
    --mainBlack: #282828;
    --mainBlue: #0147ff;
    --backgroundWhite: #f7f7f7;
  }

  body {
    background-color: var(--backgroundWhite);
  }
}

/* FONTS */
@font-face {
  font-family: "Roboto Flex";
  src: url("../public/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf")
    format("woff2");
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../public/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../public/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf")
    format("woff2");
}
