@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --first-black: #000000;
    --second-blue: #0147ff;
    --third-white: #f7f7f7;
    --fourth-black: #282828;
  }

  body {
    font-family: "Roboto Flex", sans-serif;
  }
}

@font-face {
  font-family: "Roboto Flex";
  src: url("../public/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf")
    format("woff2");
}

@font-face {
  font-family: "Heebo";
  src: url("../public/fonts/Heebo/Heebo-VariableFont_wght.ttf") format("woff2");
}
